<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body class="container">
    <h1 class="title">Are you sure you want to delete {{ r.name }}?</h1>
    <form action="{{ url_for('deleteRestaurant', restaurant_id = r.id )}}" method="post">
        <button type="submit">Delete</button>
        <a href="{{ url_for('showRestaurants' )}}">Cancel</a>
    </form>
</body>
</html>
