<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body class="container">
    <h1 class="title">Edit Restaurant</h1>
    <form action="{{ url_for('editRestaurant', restaurant_id = r.id )}}" method="post">
        <label for="name">Name</label>
    </br>
        <input type="text" maxlength="150" size="30" name="name" value="{{ r.name }}">
    </br>
        <button type="submit">Edit</button>
        <a href="{{ url_for('showRestaurants' )}}">Cancel</a>
    </form>
</body>
</html>
