<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body class="container">
    <h1>New Menu Item</h1>

    <form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id )}}" method="post" <label for="name">Name</label>
        </br>
        <input type="text" size="30" name="name">
        </br>
        <label for="description">description</label>
        </br>
        <input type="text" size="30" name="description">
        </br>
        <label for="price">price</label>
        </br>
        <input type="text" size="30" name="price">
        </br>
        <input type="submit" value="Create">
        </br>
    </form>
</body>

</html>
