<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body class="container">
    <h1>{{ restaurant.name }}</h1> {% with messages = get_flashed_messages() %} {% if messages %}

    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <ul class="menu">
    {% for i in items %}
    <li class="menu__item">
    {{i.name}}
    </br>
    {{i.description}}
    </br>
    {{i.price}}
    </br>
    <a href="{{ url_for('editMenuItem',
                        restaurant_id=restaurant.id,
                        menu_id=i.id) }}">Edit</a>
    </br>
    <a href="{{ url_for('deleteMenuItem',
                        restaurant_id=restaurant.id,
                        menu_id=i.id) }}">Delete</a>
    </br>
    </br>
    </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('newMenuItem',
                            restaurant_id = restaurant.id) }}">Add item</a>
</body>

</html>
