.container {
    max-width: 600px;
    margin: auto;
}

.title {
    text-align: center;
}

.menu {
    border-left: 2px solid #555;
    border-right: 2px solid #555;
    padding: 0 1em;
    background-color: #ff9;
}

a {
    text-decoration: none;
    color: #c60;
}

.restaurants {
    list-style: none;
}

.restaurants__restaurant + .restaurants__restaurant {
    border-top: 1px solid #555;
}

.restaurants__restaurant {
    padding-bottom: 1em;
}

.menuitems {
    list-style: none;
}

.menuitems__menuitem + .menuitems__menuitem {
    border-top: 1px solid #555;
}

.menuitems__menuitem {
    padding-bottom: 1em;
}

.button--top {
    font-size: 1.5em;
    background-color: #ff6;
    border-color: #990;
}
